.button {
	background-color: #4a4a4a;
	border: none;
	padding: 20px;
	font-size: 1.5rem;
	border-radius: 10px;
	cursor: #fff;
	transition: background-color 0.2s, transform 0.1s;
}

.button:hover {
	background-color: #5a5a5a;
}

.button:active {
	transform: scale(0.98);
}

.equals {
	background-color: #ff9500;
	color: #fff;
}

.equals:hover {
	background-color: #e48b00;
}

.clear {
	background-color: #ff6347;
}

.clear:hover {
	background-color: #ff4500;
}
